<div class="content-heading">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
				<h1 class="heading">Sign In</h1>
			</div>
		</div>
	</div>
</div>
<div class="content-inner">
	<div class="container">
		<div class="row">
			<div class="form-group form-group-label form-group-alt">
				<form class="form">
					<fieldset>
						<div class="row">
							<div class="col-lg-6 col-sm-6">
								<label class="floating-label" for="float-username">Username</label>
								<input class="form-control" id="username" ng-model="username" type="text">
							</div>
						</div>
					</fieldset>
					<fieldset>
						<div class="row">
							<div class="col-lg-6 col-sm-6">
								<label class="floating-label" for="float-password">Password</label>
								<input class="form-control" id="pasword" ng-model="pasword" type="text">
							</div>
						</div>
					</fieldset>
					<fieldset>
						<div class="row">
							<div class="col-lg-6 col-sm-6">
								<a ng-click="dologin()" class="btn btn-alt waves-button waves-effect waves-light">Search</a>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>