<div class="content-heading">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
				<h1 class="heading">Search</h1>
			</div>
		</div>
	</div>
</div>
<div class="content-inner">
	<div class="container">
		<div class="row">
			<div class="form-group form-group-label form-group-alt">
				<form class="form">
					<fieldset>
						<div class="row">
							<div class="col-lg-6 col-sm-6">
								<label class="floating-label" for="float-text-alt">Looking For ?</label>
								<input class="form-control" id="looking_for" ng-model="looking_for" type="text">
							</div>
							<div class="col-lg-6 col-sm-6">
								<a ng-click="getUserLocation()" class="btn btn-alt waves-button waves-effect waves-light">Search</a>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="content-inner" ng-controller="SearchCtrl" ng-show="loading">
	<div class="container">
		<div class="row" align="center">
			<div class="progress">
				<div class="load-bar">
					<div class="load-bar-base">
						<div class="load-bar-content">
							<div class="load-bar-progress"></div>
							<div class="load-bar-progress load-bar-progress-alt"></div>
							<div class="load-bar-progress load-bar-progress-purple"></div>
							<div class="load-bar-progress load-bar-progress-red"></div>
						</div>
					</div>
				</div>
				<div class="load-bar">
					<div class="load-bar-base">
						<div class="load-bar-content">
							<div class="load-bar-progress"></div>
							<div class="load-bar-progress load-bar-progress-red"></div>
							<div class="load-bar-progress load-bar-progress-purple"></div>
							<div class="load-bar-progress load-bar-progress-alt"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content-inner" ng-controller="SearchCtrl">
	<div class="container">
		<div class="row">
			<div class="tile-wrap">
				<div class="tile tile-collapse" ng-repeat="ven in venues">
					<div class="tile-toggle" data-target="#tile-collapse-{{$index+1}}" data-toggle="tile">
						<div class="tile-action" data-ignore="tile">
							<!-- additional action -->
						</div>
						<div class="tile-inner">
							<div class="text-overflow">{{ ven.name }}  </div>
						</div>
					</div>
					<div class="tile-active-show collapse" id="tile-collapse-{{$index+1}}">
						<div class="tile-sub">
							<p>{{ ven.location.address }}, {{ ven.location.city }}, {{ ven.location.country }}<br><small>{{ ven.location.distance }} meter(s) from here </small></p>
						</div>
						<div class="tile-footer">
							<ul class="nav nav-list pull-left">
								<li>
									<a href="#/more/{{ven.id}}"><span class="icon">check</span>&nbsp;View Detail</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>